<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="phon" property="phon" jdbcType="INTEGER" />
    <result column="unitname" property="unitname" jdbcType="VARCHAR" />
    <result column="unitaddress" property="unitaddress" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="modification_time" property="modificationTime" jdbcType="VARCHAR" />
    <result column="upload_file" property="uploadFile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, password, age, address, education, identity, phon, unitname, unitaddress, 
    create_date, status, modification_time, upload_file
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!-- shixiaohui add for getAll data start -->
  <select id="selectAll" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from users
  </select>
  <!-- shixiaohui add for getAll data end -->
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.model.User" >
    insert into users (id, name, password, 
      age, address, education, 
      identity, phon, unitname, 
      unitaddress, create_date, status, 
      modification_time, upload_file)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, 
      #{identity,jdbcType=VARCHAR}, #{phon,jdbcType=INTEGER}, #{unitname,jdbcType=VARCHAR}, 
      #{unitaddress,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{modificationTime,jdbcType=VARCHAR}, #{uploadFile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.User" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="phon != null" >
        phon,
      </if>
      <if test="unitname != null" >
        unitname,
      </if>
      <if test="unitaddress != null" >
        unitaddress,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="modificationTime != null" >
        modification_time,
      </if>
      <if test="uploadFile != null" >
        upload_file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR},
      </if>
      <if test="phon != null" >
        #{phon,jdbcType=INTEGER},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="unitaddress != null" >
        #{unitaddress,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="modificationTime != null" >
        #{modificationTime,jdbcType=VARCHAR},
      </if>
      <if test="uploadFile != null" >
        #{uploadFile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.User" >
    update users
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        identity = #{identity,jdbcType=VARCHAR},
      </if>
      <if test="phon != null" >
        phon = #{phon,jdbcType=INTEGER},
      </if>
      <if test="unitname != null" >
        unitname = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="unitaddress != null" >
        unitaddress = #{unitaddress,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="modificationTime != null" >
        modification_time = #{modificationTime,jdbcType=VARCHAR},
      </if>
      <if test="uploadFile != null" >
        upload_file = #{uploadFile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.User" >
    update users
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      identity = #{identity,jdbcType=VARCHAR},
      phon = #{phon,jdbcType=INTEGER},
      unitname = #{unitname,jdbcType=VARCHAR},
      unitaddress = #{unitaddress,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      modification_time = #{modificationTime,jdbcType=VARCHAR},
      upload_file = #{uploadFile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>